---

---

<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Music</a></li>
    <li><a href="#">Writing</a></li>
  </ul>
</nav>

<style>
  nav ul {
    padding-top: 6rem;
    padding-bottom: 4rem;

    display: flex;
    gap: 4rem;

    list-style: none;
  }

  a {
    text-transform: uppercase;
    letter-spacing: 0.15ch;
  }
</style>

